.comment-header {

  .comment-number {
    @include has-fa-icon(comment, solid);

    &::before {
      margin-right: 0.3rem;
      color: #838383;
    }
  }
}

.comments-count {
  @include has-fa-icon(comments, regular);

  &::before {
    margin-right: 0.3rem;
  }
}

.legislation-comments {

  .comments-count {

    a {
      text-decoration: underline;
    }

    &::before {
      color: #999;
    }
  }
}
